
/* Flagship Content - Covers /galahome pages */

.galahome {
  /*a {
    color: #0288d1;
  }

  a:focus, a:hover, a:active {
    color: #0273b0;
  }*/

  .chesterBlue {
    color: #0288d1;
  }

  .flex-panel-top-blue {
    border-top: 3px solid #0288d1;
  }
}

.flagship-content {
    padding: 48px 0;
    color: #FFF;
    background-color: #333;
    background-image: url(../img/stylish/poolWaterBG.jpg);
    background-position: center center;
    background-blend-mode: overlay;
    background-repeat: repeat-y;
}
.list-group-flagship-content {
    margin: 0;
}
.list-group-flagship-content a.list-group-item:focus, .list-group-flagship-content a.list-group-item:hover , .list-group-flagship-content a.list-group-item:active {
    background-color: #0288d1;
    color: #fff;
}

.list-group-flagship-content a.list-group-item {
    color: #212529;
}
